/* COLORS */
$white: #fff;
$lightseagreen:#09adc5;
$mediumslateblue:#7367f0;
$mediumseagreen:#28c76f;
$tomato:#ea5455;
$sandybrown:#fb9c44;
$darkturquoise:#00cfe8;
$mediumslateblue:#7466ee;
$headergrey:#b0b3ba;
$subgrey: #9398a1;
$backgroundbarley: #234359;
$backgroundsack: #31375a;
$backgroundfood: #3f3447;
$backgroundmarker: #423d45;
$backgroundpres: #161d31;
$backgroundpresother: #7368f0;
$backgroundpackage: #28424a;
$backgroundsidebar: #283046;
$iconContainer: #7367f0;
$backgroundmain: #161d30;
$textcolor: #d0d2d6;
$linkactive: #625bc9;
$silocolor: #97e0ae;
$siloborder: #407786;
$silostok: #28c76f;
$silotext: #407786;
//$silocolor: #97e0ae;
//$siloborder: #407786;
//$silostok: #67d489;